<link href="//fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
<style type="text/css">
  .ssi-wrapper { text-align: center }      .ssi-buttons {display:inline-block !important; overflow: hidden; font-family: 'Roboto', Arial, sans-serif;  padding: 20px 0 20px 0;}      .ssi-button {height: 40px !important; width: auto; display: block; font-weight: normal; float: left; color: #fff !important; text-decoration: none !important; font-size: 15px !important; line-height: 40px !important; margin: 4px !important; overflow: hidden !important; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) !important;}      .ssi-button-small {font-weight: normal; height: 30px !important; width: auto; display: block; float: left; color: #fff !important; text-decoration: none !important;  font-size: 14px !important; line-height: 30px !important; margin: 0 7px 7px 0 !important; overflow: hidden !important; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5) !important;}      .ssi-button:hover,.ssi-button:visited,.ssi-button-small:hover,.ssi-button-small:visited { color: #fff !important; text-decoration: none !important; }      .ssi-button:last-child,.ssi-button-small:last-child {margin-right:0;}      .ssi-button img, .ssi-button-small img {height: 100% !important; width: auto !important; float: left !important;}      .ssi-button-fb {background: #4b69a5;}      .ssi-button-twitter {background: #34b7ef;}      .ssi-button-google {background: #bbbbbb;}      .ssi-button-yahoo {background: #aa48b0;}      .ssi-button-amazon {background: #ff9300;}      .ssi-button-instagram {background: #4e7ea6;}      .ssi-button-tumblr {background: #54667d;}      .ssi-button-linkedin {background: #0097d5;}      .ssi-button-windows {background: #00b7ff;}      .ssi-button-vkontakte {background: #71a3d7;}      .ssi-button-odnoklassniki {background: #ffa350;}      .ssi-button-meetup {background: #f3575d;}      .ssi-button-strava {background: #ff6c22;}      .ssi-button-text {padding-right: 10px; width: 180px !important; text-align: center; white-space: nowrap;}      .ssi-button-text img {margin-right: 10px;}@media only screen and (max-width : 480px) { .ssi-button-text { width: 100% !important; } }
</style>
<div class="ssi-wrapper">
  <div style="display:none" class="ssi-buttons">
    <a
      href="https://www.facebook.com/dialog/oauth?client_id=574881389249179&amp;redirect_uri=https%3A%2F%2Fshopifier.net%2Fapp%2Fsocial-sign-in%2Ffb&amp;scope=email"
      class="ssi-button ssi-button-fb ssi-button-text"
      ><img src="https://cdn.shopify.com/s/files/1/0269/2009/1731/t/3/assets/icons8-facebook.svg?v=1712812839" alt="facebook"
      ><span>Facebook</span></a
    ><a
      href="https://shopifier.net/app/social-sign-in/google?shop=metrocle.myshopify.com"
      class="ssi-button ssi-button-google ssi-button-text"
      ><img src="https://cdn.shopify.com/s/files/1/0269/2009/1731/t/3/assets/icons8-google.svg?v=1712812829" alt="google"
      ><span>Google</span></a
    >
  </div>
  <div id="ssi-error" style="color:red;display:none;clear:both;">
    It seems you already have an account created via another Social Network or directly with your email and password.
    <br>
    <br>
    Forgot your password? Click <b>Forgot password</b> link below.
  </div>
</div>
<script type="text/javascript">
  function getGetParam(param) { qs = document.location.search.split("+").join(" ");var params = {},tokens,re = /[?&]?([^=]+)=([^&]*)/g; while (tokens = re.exec(qs)) { params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]); } return params[param]; } if (getGetParam("failed") == 1) { document.getElementById("ssi-error").style.display = "block"; } var redirect = getGetParam("redirect"); if (typeof redirect !== "undefined" && redirect.length > 0) { localStorage.setItem("easyauth_redirect", redirect); } else { localStorage.removeItem("easyauth_redirect"); } if(typeof getGetParam("checkout_url") !== "undefined" && getGetParam("checkout_url").length > 0){ var login_links = document.getElementsByClassName("ssi-buttons")[0].getElementsByTagName("a");for (i = 0; i < login_links.length; i++) {login_links[i].setAttribute("href", login_links[i].getAttribute("href") + "&checkout=1");}}
</script>