.thb-full-menu .sub-menu ul {
  display: flex;
  flex-wrap: wrap;
  height: 0;
}

.thb-full-menu .sub-menu ul li {
  width: 30%;
}

a,.breadcrumbs,
.announcement-bar,
#header,
#header .full-menu,
#header .full-menu .thb-full-menu,
.collection-btn-toggle,
#closeSideBar,#footer{
  font-family: "Archivo Narrow", sans-serif;
}

.thb-full-menu .sub-menu:not(.mega-menu-container) {
  pointer-events: none;
  /*left: 50%;
  transform: translate(-50%);*/
  transition: none;
}

.thb-full-menu li.menu-item-has-children:hover > .sub-menu:not(.mega-menu-container) {
  min-width: 100%;
  width: 100%;
  left: 0;

  flex-wrap: wrap;
  display: flex;
  padding: 50px 100px;

  z-index: 9999;

  pointer-events: all;
}

@media only screen and (min-width: 768px) {
 .thb-full-menu li.menu-item-has-children:hover > .sub-menu:not(.mega-menu-container) li {
    flex: 1 0 25%;
    padding: 7px 0;
  } 
}

@media only screen and (min-width: 1500px) {
 .thb-full-menu li.menu-item-has-children:hover > .sub-menu:not(.mega-menu-container) li {
    flex: 1 0 15%; 
  }

  .thb-full-menu li.menu-item-has-children:hover > .sub-menu:not(.mega-menu-container) {
    min-width: 100%;
    width: 100%;
    left: 0;
  
    flex-wrap: wrap;
    display: flex;
    padding: 50px 100px;
  
    z-index: 9999;
  
    /*left: 50%;
    transform: translate(-50%);*/
  }
  
}

.thb-full-menu li.menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  opacity: 1; 
  max-height: 80svh; 
  overflow: auto;
}

.thb-full-menu li.menu-item-has-children:hover > .sub-menu li {
  font-size: calc(var(--font-navigation-scale, 1));
  text-transform: uppercase;
  font-weight: var(--font-body-bold-weight, 600);
  letter-spacing: .1em;
  padding: 0;
  margin-bottom: 10px;
}

.thb-full-menu li.menu-item-has-children:hover > .sub-menu li a {
  font-size: 12px;
  transition: none;
}

.thb-full-menu li.menu-item-has-children {
  position: unset;
}


