.thb-full-menu .sub-menu ul {
  display: flex;
  flex-wrap: wrap;
  height: 0;
}

.announcement-bar,
#header,
#header .full-menu,
#header .full-menu .thb-full-menu{
  font-family: "Archivo Narrow", sans-serif;
}
